<!DOCTYPE html>
<html>
	<head>
		<title><%= title %></title>
	</head>
	<body>
		<form action="/new" method="POST">
			<label for="book">Book: </label>
			<input type="text" name="book" id="book" required />
			<label for="genre">Genre: </label>
			<input type="text" name="genre" id="genre" required />
			<button type="submit">Submit</button>
		</form>
	</body>
</html>
